/*Default Styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    border-top: 5px solid rgb(255, 255, 255);
    margin: 0;
    opacity: 1;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
/*Custom Styles*/
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-search {
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('../public/avengers.jpg') center/cover no-repeat fixed;
}

nav h1 {
    padding-top: 2rem;
}

.input-group {
    margin: auto;
    padding-top: 2rem;
    max-width: 500px;
}

.card-group {
    height: 100%;
    margin-top: -2rem;
    padding: 5rem;
}

.card {
    max-width: 300px;
    height: 500px;
    margin: 1rem;
    overflow: hidden;
}

.card-img {
    transition: all 0.3s ease-in-out;
}

.card-img:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.card-img-overlay {
    height: 30%;
    background-color: rgb(149, 149, 149);
    top: 70%;
    border-radius: 0%;
}

footer {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer>p {
    align-self: center;
    margin-top: 10px;
    color: black;
}